{% load static %}
<!DOCTYPE html>
<html lang="en">


  <!-- index.html  21 Nov 2019 03:44:50 GMT -->
  <head>
      <meta charset="UTF-8">
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
      <title>Student Dashboard</title>
      <!-- General CSS Files -->
      <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
      <!-- Template CSS -->
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
      <link
      rel="stylesheet" href="{% static 'assets/css/components.css' %}">
      <!-- Custom style CSS -->
      <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
      <link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/img/favicon.ico' %}"/>
  </head>

  <body>
    <div class="loader"></div>
      <div id="app">
          <div class="main-wrapper main-wrapper-1">
              <div class="navbar-bg"></div>
              <nav class="navbar navbar-expand-lg main-navbar sticky">
                  <div class="form-inline mr-auto">
                      <ul class="navbar-nav mr-3">
                          <li>
                              <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn">
                                  <i data-feather="align-justify"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                                  <i data-feather="maximize"></i>
                              </a>
                          </li>
                          <li>
                              <form class="form-inline mr-auto">
                                  <div class="search-element">
                                      <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                                      <button class="btn" type="submit">
                                          <i class="fas fa-search"></i>
                                      </button>
                                  </div>
                              </form>
                          </li>
                      </ul>
                  </div>
                  <ul class="navbar-nav navbar-right">
                      <li></li>
                  </a>
                  <a href="{% url 'home' %}" class="dropdown-item has-icon">LOG OUT
                  </a>
              </li>
          </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
          <div class="sidebar-brand">
              <a href="{% url 'StudentCourses' user %}">
                  <img alt="image" src="{% static 'assets/img/logo.png' %}" class="header-logo"/>
                  <span class="logo-name">STUDENT</span>
              </a>
          </div>
          <ul class="sidebar-menu">
              <li class="menu-header">Main</li>
              <li class="dropdown"> 
                  <a href="{% url 'StudentCourses' user %}" class="nav-link">
                      <i data-feather="monitor"></i>
                      <span>My courses</span>
                  </a>
              </li>
          </ul>
          </aside>
      </div>
      
    <!-- Main Content -->
    <div class="main-content">
        <section class="section">
            <div class="section-body">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                <div class="row">
                    <div class="col-12">
                    <div class="card-header">
                        <h4>My courses</h4>
                    </div>
                    <div class="card-body">

                        {% for c in courses %}
                        <p>{{ c.course_id_id }}, {{ c.course_id.course_name }}</p>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ c.progress }}" aria-valuemin="0"
                            aria-valuemax="100">{{ c.progress }}%</div>
                        </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>
        </div>
    </body>

<!-- General JS Scripts -->
<script src="{% static 'assets/js/app.min.js' %}"></script>
<!-- JS Libraies -->
<script src="{% static 'assets/bundles/apexcharts/apexcharts.min.js' %}"></script>
<!-- Page Specific JS File -->
<script src="{% static 'assets/js/page/index.js' %}"></script>
<!-- Template JS File -->
<script src="{% static 'assets/js/scripts.js' %}"></script>
<!-- Custom JS File -->
<script src="{% static 'assets/js/custom.js' %}"></script>
</body><!-- index.html  21 Nov 2019 03:47:04 GMT -->
</html>
    

